{% extends 'layout.html' %}

{% block titre %}
    Acceuil
{% endblock %}

{% block body %}
<main class="mdl-layout__content">
        <div class="page-content">
    {% for entrie in entries %}
    <li>
            
            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                      <h2 class="mdl-card__title-text">{{ entrie.1 }} </h2>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                      <a href="{{ url_for('historique', id = entrie.0 ) }}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Voir le statut
                      </a>
                    </div>
                  </div>
    </li>
    {% endfor %}

</div>
</main>
{% endblock %}