{% extends 'layout.html' %}

{% block titre %}
    Ajouter un site
{% endblock %}

{% block body %}
    <h1>Ajouter votre site</h1>


    <form method="POST">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="nom" name="nom" required>
              <label class="mdl-textfield__label" for="nom">Nom du site</label>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="lien" name="lien" required>
                    <label class="mdl-textfield__label" for="lien">lien du site</label>
            </div>

            <input value="add" id="submit" type="submit">
          </form>
{% endblock %}